<div class="collapsible collapsible__expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">item1</h2>
    <span class="icon-container chevron collapsible__chevron">
      <img src="/Images/chevron.svg" alt="" />
    </span>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem placeat
      ipsam eaque nihil blanditiis earum laboriosam modi tempora doloremque
      ipsum.
    </p>
  </div>
</div>
<script src="JS/main.js"></script>
