<section class="block container">
  <header class="block__header">
    <h2>Host o nt he cloud to keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, laboriosam.
    </p>
  </header>
  <article class="grid grid--1x2 features">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        blanditiis porro non ut laboriosam impedit harum error? Soluta,
        molestias ullam!
      </p>
      <a href="#" class="link-arrow"
        >Learn more <span class="arrow-link">&rightarrow;</span></a
      >
    </div>
    <picture>
      <!-- <source
            srcset="Images/easy@2x.webp 1x, Images/easy@2x.webp 2x"
            type="image/webp" />

          <source
            srcset="Images/easy@2x.jpg 1x, Images/easy@2x.jpg 2x"
            type="image/jpg" /> -->

      <img class="feature__image" src="Images/easy.jpg" alt=""
    /></picture>
  </article>

  <article class="grid grid--1x2 features">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        blanditiis porro non ut laboriosam impedit harum error? Soluta,
        molestias ullam!
      </p>
      <a href="#" class="link-arrow"
        >Learn more <span class="arrow-link">&rightarrow;</span></a
      >
    </div>
    <picture>
      <!-- <source
            srcset="Images/easy@2x.webp 1x, Images/easy@2x.webp 2x"
            type="image/webp" />

          <source
            srcset="Images/easy@2x.jpg 1x, Images/easy@2x.jpg 2x"
            type="image/jpg" /> -->

      <img class="feature__image" src="Images/fast.jpg" alt=""
    /></picture>
  </article>

  <article class="grid grid--1x2 features">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        blanditiis porro non ut laboriosam impedit harum error? Soluta,
        molestias ullam!
      </p>
      <a href="#" class="link-arrow"
        >Learn more <span class="arrow-link">&rightarrow;</span></a
      >
    </div>
    <picture>
      <!-- <source
            srcset="Images/easy@2x.webp 1x, Images/easy@2x.webp 2x"
            type="image/webp" />

          <source
            srcset="Images/easy@2x.jpg 1x, Images/easy@2x.jpg 2x"
            type="image/jpg" /> -->

      <img class="feature__image" src="Images/wordpress.jpg" alt=""
    /></picture>
  </article>

  <article class="grid grid--1x2 features">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        blanditiis porro non ut laboriosam impedit harum error? Soluta,
        molestias ullam!
      </p>
      <a href="#" class="link-arrow"
        >Learn more <span class="arrow-link">&rightarrow;</span></a
      >
    </div>
    <picture>
      <!-- <source
            srcset="Images/easy@2x.webp 1x, Images/easy@2x.webp 2x"
            type="image/webp" />

          <source
            srcset="Images/easy@2x.jpg 1x, Images/easy@2x.jpg 2x"
            type="image/jpg" /> -->

      <img class="feature__image" src="Images/support.jpg" alt=""
    /></picture>
  </article>
</section>
