<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible__expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <span class="icon-container chevron collapsible__chevron">
          <img src="/Images/chevron.svg" alt="" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="">Wordpress Hosting</a></li>
          <li><a href="">Free automated Wordpress</a></li>
          <li><a href="">Migration</a></li>
          <li><a href="">Domains Hosting</a></li>
          <li><a href="">Monthly Web Hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <span class="icon-container chevron collapsible__chevron">
          <img src="/Images/chevron.svg" alt="" />
        </span>
      </header>
      <div class="collapsible__content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
          placeat ipsam eaque nihil blanditiis earum laboriosam modi tempora
          doloremque ipsum.
        </p>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <span class="icon-container chevron collapsible__chevron">
          <img src="/Images/chevron.svg" alt="" />
        </span>
      </header>
      <div class="collapsible__content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
          placeat ipsam eaque nihil blanditiis earum laboriosam modi tempora
          doloremque ipsum.
        </p>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
        <span class="icon-container chevron collapsible__chevron">
          <img src="/Images/chevron.svg" alt="" />
        </span>
      </header>
      <div class="collapsible__content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
          placeat ipsam eaque nihil blanditiis earum laboriosam modi tempora
          doloremque ipsum.
        </p>
      </div>
    </section>
    <section class="footer__brand">
      <img src="Images/logo.svg" alt="" />
      <p class="footer__copyright">&copy;2026 mosh</p>
    </section>
  </div>
</footer>
<script src="JS/main.js"></script>
